body {
  margin: 0;
  background: linear-gradient(to left, rgb(0, 35, 131) 0%, rgba(0,120,128,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
